.frame {
    position: absolute;
    width: 0;
    height: 0;
    border-radius: 10px;
    background-color: var(--white);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border: 0px solid var(--white);
    z-index: 1;
    overflow: hidden;
    transition: width 0.6s var(--curve), height 0.6s var(--curve), background-color 0.6s var(--curve);
}

.frame.active {
    border: 1px solid var(--white);
    position: absolute;
    width: 30vw;
    height: 30vw;
    background-color: rgba(17, 17, 17, 0.5);
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.frame.light {
    background-color: rgba(221, 221, 221, 0.5);
}

.frame.fullscreen {
    border: 0px solid var(--white);
    width: 80vw;
    height: 100vh;
    border-radius: 0;
}

/* .frame.active:hover {
            width: 31vw;
            height: 31vw;
        } */

.frame.active::-webkit-scrollbar {
    display: none;
}

@media (max-width: 650px) {

    .frame.active,
    .frame.active:hover {
        width: 90vw;
        height: 90vw;
    }
}