.l,
.r,
.t,
.b,
.s {
    transition: all 0.6s var(--curve);
}

.t {
    transform: rotate(90deg);
    transform-origin: center;
}

.b {
    transform: rotate(90deg);
    transform-origin: center;
}

.s {
    transform: scale(0.1);
    transform-origin: center;
}

.svg:hover .l {
    transform: translateX(-20px);
}

.svg:hover .r {
    transform: translateX(20px);
}

.svg:hover .t {
    transform: rotate(90deg) translateX(-20px);
}

.svg:hover .b {
    transform: rotate(90deg) translateX(20px);
}

.svg:hover .s {
    transform: scale(1);
}

.l.active,
.svg:hover .l.active {
    transform: translateX(-32px);
}

.r.active,
.svg:hover .r.active {
    transform: translateX(32px);
}

.t.active,
.svg:hover .t.active {
    transform: rotate(90deg) translateX(-32px);
}

.b.active,
.svg:hover .b.active {
    transform: rotate(90deg) translateX(32px);
}

.s.active,
.svg:hover .s.active {
    transform: scale(1.4);
}

.svg {
    transform-origin: center;
    transition: all 0.6s var(--curve);
}

.svg.fullscreen {
    opacity: 0;
}
